textarea {
  width: 300px;
  height: 25px;
  margin-left: 400px;
  border: 3px solid black;
}

#output {
  font-size: 40px;
  text-align: center;
  color: white;
}

body {
  background-image: url("./../img/sound-in-time.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  color: white;
  font-size: 60px;
  color: red;
  font-weight: 700;
}

button {
  float: right;
  margin-right: 860px;

}

#date {
  float: left;
  margin-left: 100px;
}
